doctype html

//
  III??????????????IIIIIIII???????????????????????????????????????????????????????IIII?????????????????II?????
  IIIIIII??IIIIIIIIIIIIIIIIIIIIIIII???????????????????????????????II?????????????IIIIIII??I??III??IIIIIIIII?II
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII????III????????????IIIII???IIII?IIIIIIIIIIIIIIIIIIIIII?IIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIII77777777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII7I7777IIIIIIIIIIIIIIII77IIIII
  7777IIIIIII777II77777777777II7777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII77IIIIIIIII7III777777IIIIIII77IIII7I77777I7I
  7777777III7777777777777777777777777IIIIIIIIIIIIIIIIIIIIII77II777777I777I77777777777777777II77777777777777777
  77777777I777777777777777777777777777III777777II7777II77777777I7777777777777777777777777777777777777777777777
  777777777777777777777777777777777777777777777777777777777777777777777777777777777$$$$77777777777777777$77777
  7777777777777$777$$$$$$$$$7777$$77777777777777777777777777777777777777777777777$$$$$$7777777777777777$$$$777
  777$$777777$$$777$$$$$$$$$$$$$$$$$77777777777777777777777777777$$$$7777777$$77$$$$$$$$$77777$$$777$$$$$$$$$$
  $$$$$$$777$$$$$7$$$$$$$$$$$$$$$$$$$77777777777777777777$$$$777$$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$7$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$7$$7777$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$77777777777$$$$$77
  $$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$$Z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$$$77I77777777777$$7777
  $$$$$$$$$$$$ZZZ$$$ZZZZZZZZ$$$$ZZZZ$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$Z$Z$$777$$$$$$777II77777777II777$$7
  $ZZZ$$$$$$$ZZZZ$$ZZZZZZZZZZ$$ZZZZZ$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$ZZZZZZ$ZZ$$$$$$$$7777$$$7$77777$7777777IIIII??
  ZZZZZZ$$$$ZZZZZZ$ZZZZZZZZZZ$ZZZZZZ$$$$$$$$$Z$$$$$Z$$$$$ZZZZ$Z$ZZZZZ$$$$$$$$$$77$$7$$$$7777777$77777777$$$$$7
  ZZZZZZZZ$$ZZZZZZ$ZZZZZZZZZZZZZZZZZZZZ$$ZZZZZZZ$$$Z$$$$$ZZZ$$$$$$$$$$$$7?7$$$$$$$$7$$$$7I777III777777$$$$$$$$

html(lang="en")
  head
    title ___
  body
